<form method="POST" action="/new">
    <div class="name">

        <label for="name">Username:</label>
        <input type="text" name="name" placeholder="Enter your name" required>
    </div>

    <div class="text">

        <label for="text">Enter your message:</label>
        <textarea name="text" id="t1" rows="4" placeholder="Type your message here" required></textarea>
    </div>

    <button>SUBMIT</button>

</form>

