<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Express-Todo</title>
  <link rel="stylesheet" href="./public/styles.css">
</head>
<body>
  <h1>todos</h1>
  <p>todos Helps you get things done</p>
  <button>sign in</button>

</body>
</html>
